<ion-header>
  <ion-toolbar color="cinza1">
    <ion-title text-center>Olá {{nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card style="background-color:#eeeded;color:#4e4940" text-center *ngIf="agenda != ''">
    <ion-card-header>
      Mensagem do profissional
    </ion-card-header>
    <ion-card-content>
      <h3>Você não tem nenhuma sessão agendada</h3>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="teste != '1'">
    <ion-card-header text-center>
      Sua evolução
    </ion-card-header>
    <ion-card-content>
            
    </ion-card-content>
  </ion-card>
  <ion-card style="background-color:#ed6160" text-center *ngIf="agenda != ''">
    <ion-card-content>
      <h2 style="color:#fff"><strong>Você não tem nenhuma sessão agendada</strong></h2>
    </ion-card-content>
  </ion-card>
  <ion-card color="amarelo1" text-center *ngIf="agenda == '' ">
    <ion-card-header>
      Sua próxima sessão
    </ion-card-header>
    <ion-card-content>
      <h1><strong>{{agendaData}} - {{agendaHora}}</strong></h1>
    </ion-card-content>
  </ion-card>

  <h5 text-center  *ngIf="teste != ''">Imagens da evolução</h5>
  <ion-grid  *ngIf="teste != '1'">
    <ion-row>
      <ion-col>
        <h6 text-center>Inicio</h6>
        <img src=""></ion-col>
      <ion-col>
        <h6 text-center>Atual</h6>
        <img src=""></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer text-center>
  <ion-grid>
    <ion-row>
      <ion-col col-3 (click)="diario()">
        <ion-icon name="ios-bookmarks-outline"></ion-icon>
        <h6>Diário</h6>
      </ion-col>
      <ion-col col-3 (click)="perfil()">
        <ion-icon name="ios-person-outline"></ion-icon>
        <h6>Perfil</h6>
      </ion-col>
      <ion-col col-3 (click)="dicas()">
        <ion-icon name="ios-thumbs-up-outline"></ion-icon>
        <h6>Dicas</h6>
      </ion-col>
      <ion-col col-3 (click)="sair()">
        <ion-icon name="ios-log-out-outline"></ion-icon>
        <h6>Sair</h6>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>
