<!--
  Generated template for the UHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="cinza1">
    <ion-title>Olá {{nome}}</ion-title>
    <ion-buttons end (click)="sair()">
      <button ion-button icon-only>
        <ion-icon name="ios-log-out-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-card *ngIf="teste != '1'">
    <ion-card-header text-center>
      Sua evolução
    </ion-card-header>
    <ion-card-content>
      <div style="display: block;">
      <canvas baseChart width="400" height="200"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>

      <div style="display: block"  *ngIf="teste != '1'">
        <ion-grid>
          <ion-row>
            <ion-col col-5 text-center>
              <h6>Meta atingida</h6>
              <h1></h1>
              <ion-row>
                <ion-col col-6>
                  <h6>Meta</h6>
                  <h2></h2>
                </ion-col>
                <ion-col col-6>
                  <h6>Perda</h6>
                  <h2></h2>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-7>

                <canvas baseChart
                      [data]="doughnutChartData"
                      [labels]="doughnutChartLabels"
                      [chartType]="doughnutChartType"
                      [colors]="doughnutChartColors"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
                </canvas>

            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card color="amarelo1" text-center *ngIf="agenda == ''">
    <ion-card-header>
      Sua proxima sessão
    </ion-card-header>
    <ion-card-content>
      <h1><strong>Você não tem nenhuma sessão agendada</strong></h1>
    </ion-card-content>
  </ion-card>
  <ion-card color="amarelo1" text-center *ngIf="agenda != '' ">
    <ion-card-header>
      Sua próxima sessão
    </ion-card-header>
    <ion-card-content>
      <h1><strong>{{agendaData}} - {{agendaHora}}</strong></h1>
    </ion-card-content>
  </ion-card>

  <h5 text-center  *ngIf="teste != '1'">Imagens da evolução</h5>
  <ion-grid  *ngIf="teste != '1'">
    <ion-row>
      <ion-col>
        <h6 text-center>Inicio</h6>
        <img src=""></ion-col>
      <ion-col>
        <h6 text-center>Atual</h6>
        <img src=""></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer text-center>
  <ion-grid>
    <ion-row>
      <ion-col col-4 (click)="diario()">
        <ion-icon name="ios-bookmarks-outline"></ion-icon>
        <h6>Diário</h6>
      </ion-col>
      <ion-col col-4 (click)="perfil()">
        <ion-icon name="ios-person-outline"></ion-icon>
        <h6>Perfil</h6>
      </ion-col>
      <ion-col col-4 (click)="dicas()">
        <ion-icon name="ios-thumbs-up-outline"></ion-icon>
        <h6>Dicas</h6>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>
