page-ac-concluido {
  ion-icon{
    font-size:3em;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    text-align: center;
    color:  #4e4940;
    font-size: 18px
  }

  h1 {
    
  }
}
